
.app-container{
  width: 330px;
margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: rgb(231, 231, 231);
  overflow: hidden;
}

.assembly-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.win-container {
  width: 100%;
  height: 80px;
  background-color: rgb(8, 142, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}


.letter {
  border: none;
  padding: 4px 6px;
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: rgb(232, 184, 63);
  border: none;
  border-radius: 4px;
}

.btn-container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border: none;
  padding: 4px;
  min-width: 60px;
}

.html, .ptn {
  background-color: lightsalmon;
  color: white;
}

.css, .ruby {
  background-color: lavender;
}

.js,.node   {
  background-color: lightseagreen;
  color: white;
}

.react {
  background-color: cornflowerblue;
  color: white;
}

.ts {
  background-color: orange;
}

.ant {
  background-color: darkred;
  color: aliceblue;
}

.word-container {
  display: flex;
  gap: 4px;
}

.lost {
  background-color: darkred;
}

.entr {
  width: 30px;
  height: 30px;
  background-color: #202020;
  border: none;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alphabet-container {
  width: 280px;
}

.new-game {
  border: none;
  padding: 8px 10px;
}

.lost {
  background-color: darkred;
  color: white;
}

.right {
  background-color: green;
  color: white;
}

.wrong {
  background-color: rgb(149, 9, 9);
  color: white;
}

.dead {
  opacity: 0.3;
}